.list-btns .btn {
    margin-right: 2px;
}

.searchButtonBar {
    padding-top: 10px;
}

.searchButtonBar .btn{
    margin-left: 5px;
}

.row-index {
    color: #aaa;
}

tr.customer:nth-of-type(2n+1) {
    background-color: #eee;
}

.pagination-container {
    border-top: 1px solid #222;
    margin-top: 10px;
}